{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <meta charset="utf-8">
        <title>Microlly Blog</title>      
         
    </head>
    <body>        
        <header>
            <h1><div class="title"><a href="{% url 'article:index'%}"> Microlly </a></div>
                            
                {% if user.is_authenticated %}
                    <p class="btn">
                    <form class="btn" action="{% url 'account:logout'%}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Se déconnecter"></button>
                    </form>                            
                    <form class="btn" action="{% url 'article:create' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Créer un article"></button>
                    </form>
                    
                {% else %}
                    
                    <form class="btn" action="{% url 'account:login' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Se connecter"></button>
                    </form>
                    <form class="btn" action="{% url 'account:signup' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="S'inscrire"></button>
                    </form>
                    </p>
                
                {% endif %}
            
            </h1>
        </header>        
        {% block body %}{% endblock %}
    </body>
</html>