{% extends '_base.html' %}
{% block body %}

    <div id="log" style="text-align:center;">
        <h1>{{article.title}} écrit par
            <a href = "{% url 'article:article_user' username=article.author%}">{{article.author}}</a>
            publié le {{article.creation_date}}
        </h1>
        
        <p style="text-align:center;font-size: 100%;">{{article.body}}</p>
    </div>
    

    <li><a href="{% url 'article:delete' id=article.id %}">Delete</a></li>
    <li><a href="{% url 'article:modifie' id=article.id %}">Modifie</a></li>
{% endblock %}