{% extends '_base.html' %}
{% block body %}

    <div id="log" style="text-align:center;">
        <h1>{{article.title}} écrit par
                <a href = "{% url 'article:article_user' username=article.author%}">{{article.author}}</a>
                publié le {{article.creation_date}}
                {% if article.update_date != None %}
                    modifié le {{article.update_date}}
                {% endif %}
        </h1>        
        <p style="text-align:center;font-size: 100%;">{{article.body}}</p>
        <p>
            <a href="{% url 'article:delete' id=article.id %}">Supprimer</a>
            OU
            <a href="{% url 'article:modifie' id=article.id %}">Modifier</a>
        </p> 
    </div>
      
{% endblock %}