{% extends '_base.html'%}

{% block body %}
    <div class = "articles">
        {% if article %}
            {% for article in article %}
                <div id = "article">
                    <h2>
                        <a id = "arttitle" href = "{% url 'article:detail' article.id%}">{{article.title}}</a>
                        écrit par
                        <a id = "artauthor" href = "{% url 'article:article_user' username=article.author%}">{{article.author}}</a>
                        publié le {{article.creation_date}}, 
                        {% if article.update_date != None %}
                            mis a jour le {{article.update_date}}
                        {% endif %}
                    </h2>                  
                    <p>{{article.snippet}}</p>               
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {% if article.has_previous %}
        <a href="?page=1"> << </a>
        <a href="?page={{article.previous_page_number}}"> < </a>
    {% endif %}
    {% for num in article.paginator.page_range %}
        {% if article.number == num %}
            <strong>{{num}}</strong>
        {% elif num > article.number|add:'-3' and num < article.number|add:'3' %}
            {{num}}
        {% endif %}
    {% endfor %}
    {% if article.has_next %}
        <a href="?page={{article.next_page_number}}"> > </a>
        <a href="?page={{article.paginator.num_pages}}"> >> </a>
    {% endif %}

{% endblock %}