{% load static %}
<html>
    <head>
        <title>Microlly blog</title>
    </head>
    <body>
        <div class="page-top">
            <h1><a href="/blog">Microlly Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                        <form method="post" action="">
                            <p>        
                                <label for="pseudo">Votre pseudo:</label>  
                                <br>                                 
                                <input type="text" name="pseudo" id="pseudo" placeholder="Votre pseudo"/>
                                <br>
                                <label for="password">Votre mot de passe:</label>  
                                <br>           
                                <input type="password" name="pass" id="pass" placeholder="Votre mot  de passe"/>   
                                <br>
                                <button type="submit">Se connecter</button>               
                            </p>                     
                        </form>
                        <a href="/blog/register">Vous n'avez pas de compte et souhaitez vous inscrire</a>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>