{% extends "_base.html" %}
{% load static %}
<html>
    <head>
        <title>Microlly blog</title>
    </head>
    <body>
        <div class="page-top">
            <h1><a href="/">Microlly Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                        <form method="post" action="">
                            {% csrf_token %}
                            <p>         
                                <label for="title">Titre:</label>  
                                <br>                             
                                <input type="text" name="Title" id="title" placeholder="Le tire de votre post"/>  
                                <br>
                                <label for="body">Contenu:</label>  
                                <br>
                                <textarea name="Post" id="post" placeholder="Le contenu de votre post" rows="5" cols="80" id="TITLE"></textarea>   
                                <br>
                                <button type="submit">Poster</button>               
                            </p>                     
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>