/* ID */

/* Bouton menu */
.title{
    font-family: Quantify;
    font-size: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: rgb(0, 0, 0); 
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Bandeau */
.wrapper { 
    background: rgb(180, 18, 18); 
    width:100%;  
}

/* L'article sur la page index */
#article{
    border: 2px double rgb(153, 4, 4);
    text-align: center;
    right: 40% ;
    left: 40%;
    background-color: rgb(0, 0, 0);
}

#log{
    border: 2px double rgb(153, 4, 4);
    right: 40% ;
    left: 40%;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Le titre de l'article*/
#arttitle {
    margin:left;
} 

/* L'auteur de l'article */
#artauthor {
    margin:center;
} 

/* COMPOSANTS */

body{
    /*background-image: url("fondsite.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: white;
}

p,h1, h2{
    color: white;
    font-family: serif;
}

h3{
    color: black;
    font-size: 300%
}


a {
    text-decoration: none;
}
a:link, a:visited {
    color: rgb(187, 8, 8);
}
a:hover {
    color: rgb(255, 255, 255);
}
/*
#arttitle, #artauthor{
    display: inline-block;
    margin-left: 10px; 
}*/


@font-face {
    font-family: Quantify;
    src: url(Quantify.ttf);
}



/*Button*/
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
  
.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

#btnlogout{
    padding-left: 50%;
}

#btncrea{
    width: 50px;
    height: 50px;
}

#btn{
    width: auto;
}

.btn{
    display: inline;
}


/* Multiple */

#btnlogin, #btnsig{
    align-items: baseline;
}